body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

img {
  width: 100px;
  border-radius: 75px;
  float: left;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}